.fntfmly,h1,h2,h3,h4,h5,h6,a,button{
    font-family: "Concert One";
}

/* Whats App Floating Img  */
.floating_whatsapp{
    position: fixed;
    left: 20px;
    bottom: 20px !important;
    z-index: 1111;
}




.floating_whatsapp a img{
    height: 50px;
    box-shadow: 0 0 2px 0 #0000001e;
    border-radius: 50%;
    animation: pl2 2s infinite linear;
}
@keyframes pl2 {
    100% {
      box-shadow: 0 0 2px 30px #0000001e;
      opacity: 1;
  }
}


/* Chat Box Floating Images */




